.item_market_actions .item_market_action_button_edge.item_market_action_button_right {
    margin-right: 10px;
}

a.auto_sell_button {
    float: right;
}

input.steam-market-auto-seller_sell-delta {
    margin-bottom: 4px;
    padding: 0 0.5em;
    float: right;
    width: 4em;
}